body {
	font-family: verdana;
	font-size: 0.69em;
	color: #261c02;
	background-color: #eeeeff;
	margin: 0px 0px 0px 7px;
	padding: 0;
	
}

.board {
	margin-left: 0px;
}

.column {
	width: 196px;
	border: 1px solid #444;
	float: left;
	xmin-height: 1000px;
	background: rgba(255, 255, 255, 0.6);
}
#feedbackColumn, #test, #review,#stageColumn, #approvedColumn, #deployedColumn {
	width: 97px;
}
#schColumn, #doneColumn, #scheduled-pane, #done-done,
#approvedColumn, #approved-pane, #deployedColumn, #deployed-pane
{
	width: 110px;
}

#testColumn {
	width: 209px;
}

.stacked.crlist, #cmsdev-scheduled
{
	height: 750px;
	min-height: 750px;
	overflow: auto;
	width: 110px !important;
}

#done {
	min-height: 740px;
}

.crlist {
	float: left;
	width: 97px;
	xpadding-bottom: 60px;
	min-height: 760px;
}

#review .crlist, #test .crlist {
	min-height: 360px;
}

.crlist.done, #development .crlist.done {
	border-left: 1px dashed #444;
	width: 97px;
}


.stacked .cr {
	overflow: hidden;
	margin-bottom: -120px;
	height: 150px;
}




.cr .tasks, #development .crlist.inprocess .ui-sortable-helper .tasks {
	display: none;
}
#development .crlist.inprocess .tasks {
	display: none
}
#development .crlist.inprocess .cr.ui-sortable-helper {
	border: none;
}


/*
#devColumn, #development {
	width: 500px;
}


#development .crlist {
	width: 375px;
}

*/
.column h2 {
	margin: 0px 0px 5px 0px;
	text-align: center;		
	background-color: #444;
	color: #fff;
	padding:2px 0px 2px 0px;
}
.pane {
	clear: both;
}
.pane h3 {
	margin: 0px 0px 5px 0px;
	padding-left: 5px;
	border-bottom: 1px solid #444;
}
.crList {
	min-height: 500px;
}
#feedbackColumn .crList {
	min-height: 250px;
}

.cr {
	float: left;
	clear: both;
}


.crInner {
	border: 1px solid #444;
	min-height: 60px;
	width: 88px;
	background-color: #FFFFCC;
	float: left;
	font-size: 90%;
	overflow: hidden;
}
.cr.dead .crInner, .cr.old .crInner {
	background-image: url(images/old.png);
	background-repeat: repeat-y;
	background-position: 0px 0px;
}
.cr.senior .crInner, .cr.middleaged .crInner {
	background-image: url(images/old2.png);
	background-repeat: repeat-y;
	background-position: 0px 0px;
}

.cr.nextRelease  .crInner h3, #crBox.nextRelease h3 {
	background-color: #99FF99;
	border-color: #44FF44;
}
.cr.nextRelease  .crInner, #crBox.nextRelease {
	background-color: #DDFFDD;
}

.cr.bug  .crInner h3, #crBox.bug h3 {
	background-color: #ff3333;
	border-color: #ff2222;
}
.cr.bug  .crInner, #crBox.bug {
	background-color: #ff6666;
}

.cr .crInner.CMSTransition h3 {
	height:16px;
	background-image: url(images/poland-icon.png);
	background-repeat: no-repeat;


}

.cr, .space {
	margin-bottom: 3px;
	margin-top: 3px;
	float: left;
	margin-left: 3px;
}
.crInner h3 {
	font-size: 90%;
	text-align: right;		
	background-color: #FFFFAA;
	border-bottom: 1px solid #EEEE00;
	padding-right: 2px;
	cursor: move;
}

.crInner.Search h3 {
	background-image: url(images/search.png);
	background-repeat: no-repeat;
	background-position: 1px 1px;
}

.cr.underreview .crInner {
	background-color: #CACAFF;
}


.cr.underreview .crInner h3 {
	background-color: #AAAAFF;
	border-bottom: 1px solid #9999EE;
}
.cr.undertest .crInner {
	background-color: #FFCCFF;
}


.cr.undertest .crInner h3 {
	background-color: #FFAAFF;
	border-bottom: 1px solid #EE00EE;
}

.crInner div.title {
	margin: 3px 3px 3px 3px;
}
.crInner div.name {
	font-size: 86%;
	margin: 5px 2px 2px 0px;
	text-align: right;
}
.space {
	border: 1px dashed #aaa;
	max-width: 100px;
}

.tasks {
	float: left;
	width: 249px;
	margin: 0px 5px 5px 5px;
	border: 1px solid #444;
}
.tasks h3 {
	text-align: center;
	margin-bottom: 0px;
	font-size: 90%;
}
.tasks .innerTaskColumn  {
	min-height: 44px;	
	float: left;
	width: 50px;
	padding-top: 5px;
	border-left: 1px solid #444;
}
.tasks .innerTaskColumn.inprocess {
	width: 146px;
}
.tasks .innerTaskColumn.new {
	border: none;
}
.task {
	border: 1px solid #444;
	min-height: 40px;
	width: 34px;
	background-color: #FFFFCC;
	float: left;
	font-size: 80%;
	padding: 2px;
}
.task, .tasks .space {
	margin-left: 5px;
	margin-bottom: 5px;
	float: left;
}

#crBox {
	border: 1px solid #444;
	z-index: 1000;
	top: 0;
	left: 0;
	position: absolute;
	background: #FFFFCC;
}
#crBox ul {
	list-style: none;
	padding: 5px 5px 5px 5px;
	margin: 0;
	max-width: 400px;
}
#crBox ul.fields {
	min-height: 60px;
}
#crBox li {
	margin: 0;
	padding: 0;
	clear: both;
}
#crBox li label {
	width: 100px;
	font-weight: bold;
	xfloat: left;
	display: block;
}
#crBox h3 {
	text-align: right;		
	background-color: #FFFFAA;
	border-bottom: 2px solid #EEEE00;
	padding: 0;
	margin: 0;
	padding-right: 5px;
}



#liveEmanager {
	top: 5px;
	left: 20px;
	z-index: 1000;
	position: absolute;
	border: 2px solid #444;
	padding: 10px;
	background-color: #fff;
	width: 800px;
	height: 600px;
}
#reload {
	float: left;
	width: 54px;
	border: 1px solid #444;
	margin: 0px 0px 0px 2px;
}

#standup {
	background: #000 url('images/jerry-seinfeld-picture-11.jpg') bottom center no-repeat;
	#background: #110033 url('images/jul.jpg') top left no-repeat;
	position: absolute;
	z-index: 100000;
	top: 0px;
	left: 0px;
	font-size: 200px;
	color: #fff;
	width: 1260px;
	height: 800px;
	text-align: center;
}


.tabs {
	border-bottom: 1px solid #999;
	margin-bottom: 10px;
	clear: both;
}
.tabs a {
	float: left;
	margin-left: 5px;
	padding: 5px 5px 5px 5px;
	border: 1px solid #999;
	border-bottom: none;
	text-decoration: none;
	font-weight: bold;
	background-color: #999;
	margin-bottom: -1px;
	color: #000;
}
.tabs a.selected {
	background-color: #eeeeff;	
}

