<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="host" value="http://bluestone.bekk.no"/>
    <add key="loginUrl" value="/names.nsf?Login"/>
    <add key="timesheetUrl" value="/global/seitp/seitp210.ns6/vwLeanFlat?OpenView&amp;start=8000&amp;count=5000"/>
    <add key="login" value="jobi"/>
    <add key="password" value="jobi001B"/>
  </appSettings>
</configuration>