<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="loginUrl" value="/names.nsf?Login"/>
    <add key="leanViewUrl" value="/global/seitp/seitp210.ns6/vwLeanFlat?OpenView&amp;start=8000&amp;count=5000"/>
    <add key="updatePathPattern" value="/global/seitp/seitp210.ns6/agnLeanUpdate?OpenAgent&amp;UNID={0}&amp;Field={1}&amp;Value={2}&amp;"/>
  </appSettings>
</configuration>